.tags {
    margin-bottom: 10px;
}

.video-row {
    display: flex;
    margin-bottom: 30px;
    /* max-width: 700px; */
}

.video-img {
    object-fit: cover;
    width: 300px !important;
    /* height: 138px !important; */
    border-radius: 15px;
}

.row-text {
    margin-left: 35px;
}

.row-description {
    margin-top: 20px;
    font-size: 12px;
    color: #606060;
}

.row-headline {
    font-size: 12px;
    color: #606060;
}

.row-subs {
    background-color: lightgray;
    padding: 2px;
}

.row-numSubs {
    font-weight: bolder;
    color: rgb(84, 157, 211);
}