.video-card {
    width: 270px;
    margin: 20px 15px 50px 20px;
    transition: transform .2s;
}

.video-card:hover {
    transform: scale(1.1);
  }

.card-thumbnail {
    height: 140px;
    width: 250px;
    border-radius: 10px;
}

.card-info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.card-text {
    margin-left: 15px;
}

.card-text > h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-text > p {
    font-size: 14px;
    color: gray;
}

.check-icon {
    display: contents;
}

.check-icon .css-i4bv87-MuiSvgIcon-root {
    height: 0.60em !important;
    width: 0.60em !important;
}

.card-avatar {
    height: 30px !important;
    width: 30px !important;
}