
.video-card {
    width: 270px;
    margin-bottom: 40px;
}

.card-thumbnail {
    height: 140px;
    width: 250px;
    border-radius: 10px;
}

.card-info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.card-text {
    margin-left: 15px;
}

.card-text > h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-text > p {
    font-size: 14px;
    color: gray;
}

.card-avatar {
    height: 30px !important;
    width: 30px !important;
}