.app-page {
    display: flex;
}

.profile {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
    max-width: 100%;
}

.profile-banner {
    max-width: 100%;
    height: auto;
}

.profile-body {
    display: flex;
    flex-direction: row;
}

.left-col {
    flex: 7;
    padding: 20px;
}

.right-col {
    flex: 3;
    padding: 20px;
}
