.button {
    background-color: #606060;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px 5px 15px 5px;
    margin: 0.125rem;
}

.tags {
    margin-bottom: 10px;
}

.channel {
    display: flex;
    align-items: center;
    /* width: 70%; */
}

.channel-text {
    flex-direction: column;
}

.channel-text > p {
    color: #606060;
    font-size: small !important;
}

.channel-logo {
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
}

.channel-text > h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}