.item {
    display: flex;
    align-items: center;
    padding: 5px 40px 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item-icon {
    color: #606060;
}

.item-title {
    flex: 1;
    margin-left: 20px;
    font-size: 15px;
    padding-top: 5px;
}

.item:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.item:hover > .item-title {
    font-weight: bold;
}

.item .selected {
    background-color: whitesmoke;
}