.app-page {
    display: flex;
}

.content {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.content > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.content-videos {
    display: flex;
    flex-wrap: wrap;
}